.ant-btn{
background-color: red !important;
}


.loader-parent {
  position: fixed;          /* screen ke upar overlay */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* thoda black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;           /* sab content ke upar rahe */
}


